

.winesearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 624px;
    height: 235px;
    left: calc(50% - 624px/2);
    top: 142px;
}


.winesearch-header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  16px 0px;
    height: 65px;
}

.winesearch-header-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 26px;
    text-align: center;

}

.winesearch-header-icon {
    width: 16px;
    height: 26px;
    padding-left: 8px;
}


.winesearch {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
}

.winesearch-searchbar {
    display: flex;
    flex-direction: row;
    
}


.winesearch-textinput {
    width: 100%;
    height: 48px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13px;
    padding-left: 44px;
    padding-right: 44px;
    display: flex;
    border: 1px solid #CCCCCC;
    flex-direction: row;
    
}

.winesearch-textinput-searchicon {
    position: absolute;
    color: #CCCCCC;
    height: 24px;
    width: 24px;
    padding:14px;

}

.winesearch-textinput-closeicon {
    position: absolute;
    color: #3A3B3B;
    height: 24px;
    width: 24px;
    padding:14px;
    left: auto;
    right: 0px;

}

.winesearch-textinput-closeicon:hover {
    cursor: pointer;
}


.winesearch-results {

    width: 100%;
}


.winesearch-result {
    height: 56px;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.winesearch-result-title {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-size: 15px;

}

.winesearch-result-title-same {

    color: turquoise;
    padding-left: 12px;

}

.winesearch-result-title-different {

    color: #0F1010;
    font-style: normal;

}

.winesearch-result-description {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    font-family: "Montserrat";
    font-size: 13px;

}

.winesearch-result-description-same {

    color: turquoise;
}

.winesearch-result-description-different {

    color: #3A3B3B;
}

.winesearch-result-righttext {
    position: absolute;
    font-family: "Montserrat";
    font-size: 13px;
    color:#0F1010;
    left: auto;
    right: 12px;

}


.winesearch-result:hover {
    background: #CCCCCC;
    cursor: pointer;
}

.winesearch-result-row {
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    flex: 1;

}